/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */

.Navbar {
  overflow: hidden;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0vh;
  box-shadow: 0.1rem 0.1rem 0.15rem rgb(206, 204, 204);
  z-index: 1;
}

.NavbarContainer {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBarElement {
  padding: 2vw;
  margin: 2vw;
  text-decoration: none;
  color: gray;
  font-size: 1.5vw;
}

.NavBarElementText {
  padding: 1rem;
  font-size: 1rem;
}

#LogoMark {
  background-image: url("");
  background-color: #cccccc;
  height: 3vh;
  width: 1.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.background {
  width: 100vw;
  /* background-image: url("../../images/charles-deluvio-lJJlaUWYrPE-unsplash3.jpg"); */
  background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background1 {
  margin-top: 8vh;
  width: 100vw;
  background-image: url("../../images/charles-deluvio-lJJlaUWYrPE-unsplash3.jpg");
  background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-01.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* float: left; */
}

.background3 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-02.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* float: left; */
}

.background4 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-03.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* float: left; */
}

.background5 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/pexels-ionut-nan-3988821.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* float: left; */
}

.background6 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/pexels-ionut-nan-3988821.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  /* float: left; */
}

.backgroundForGame {
  width: 100vw;
  background-image: url("../../images/PlaceholderForZoeyGame.png");
  background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.floatingImage {
  width: 60vw;
  background-image: url("../../images/pexels-ionut-nan-3988821.jpg");
  background-color: #cccccc;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
}

.containerGray {
  position: relative;
  background-color: gainsboro;
}

.textForBG2 {
  position: absolute;
  width: 30vh;
  left: 5vw;
  top: 10vh;
  text-align: left;
}

.textForBG {
  position: absolute;
  width: 10vh;
  left: 62.5vw;
  top: 10vh;
  text-align: left;
}

.textForHeroImage {
  position: absolute;
  width: 10vh;
  left: 5vw;
  top: 20vh;
  text-align: left;
}
.backgroundText {
  background-color: white;
}

.textForGame {
  background-color: white;
  position: absolute;
  /* width: 30vw;
  height: 50vh; */
  left: 5vw;
  top: 10vh;
  text-align: left;
}

.info1,
.info2,
.info3 {
  width: 50vw;
  height: 80vh;
  padding: 5vw;
}

.header {
  width: 20vw;
  font-size: 3.25vw;
}

.header2 {
  width: 25vw;
  font-size: 3.25vw;
}

.text {
  width: 20vw;
  font-size: 1rem;
}

.text2 {
  width: 25vw;
  font-size: 1rem;
}
.navBarButton {
  /* display: inline-block; */
  border-color: grey;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  margin: 7.5vh 0;
  text-decoration: none;
  /* background: gray; */
  color: grey;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 3rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.navBarButton:hover,
.CarrouselButton:focus {
  background: black;
  color: white;
}

.CarrouselButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.CarrouselButton:active {
  transform: scale(0.99);
}

/* Meet the team CSS */

.meetTeam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.personName {
  width: 20vw;
  font-size: 2vw;
}

.teamText {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 30px; */
  /* border-bottom: 1px solid black; */
  padding-bottom: 5vh;
  margin: auto 5vh;
}

.meetTeamText {
  width: 20vw;
  font-size: 1vw;
}
/* .description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 350;
  padding: 3% 25%;
} */

.usinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 15%;
}

.carlos,
.valerie,
.dp {
  border: 1px solid black;
  /* border-radius: 20px; */
  background-color: #ffffff;
  padding: 2rem 2rem;
  /* box-shadow: 20px 20px black; */
  margin: 2vh 2vh;
}

.githubLinkedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
