.background1 {
  margin-top: 5.5vh;
  width: 100vw;
  background-image: url("../../images/charles-deluvio-lJJlaUWYrPE-unsplash3.jpg");
  background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-01.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background3 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-02.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background4 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-03.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background5 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/pexels-ionut-nan-3988821.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background6 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/Helpothers.png");
  background-color: #cccccc;
  height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundForGame {
  width: 100vw;
  background-image: url("../../images/Game2.png");
  background-color: #cccccc;
  height: 90vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.floatingImage {
  width: 60vw;
  background-image: url("../../images/pexels-ionut-nan-3988821.jpg");
  background-color: #cccccc;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
}

.containerGray {
  position: relative;
  background-color: gainsboro;
}

.textForBG2 {
  position: absolute;
  width: 30vh;
  left: 5vw;
  top: 10vh;
  text-align: left;
}

.textForBG {
  position: absolute;
  width: 10vh;
  left: 62.5vw;
  top: 10vh;
  text-align: left;
}

.textForHeroImage {
  position: absolute;
  width: 10vh;
  left: 5vw;
  top: 20vh;
  text-align: left;
}
.backgroundText {
  background-color: white;
}

.whiteBGright {
  right: 5vw;
  background-color: white;
  position: absolute;
  top: 5vh;
  text-align: left;
}

.whiteBGleft {
  left: 5vw;
  background-color: white;
  position: absolute;
  top: 5vh;
  text-align: left;
}

.info1,
.info2,
.info3 {
  width: 50vw;
  height: 80vh;
  padding: 5vw;
}

.header {
  width: 20vw;
  font-size: 3.25vw;
}

.header2 {
  width: 25vw;
  font-size: 3.25vw;
}

.text {
  width: 20vw;
  font-size: 1rem;
}

.text2 {
  width: 25vw;
  font-size: 1rem;
}
