<<<<<<< HEAD
<<<<<<< HEAD
/* body {
  overflow: hidden;
} */
=======
body {
  overflow: hidden;
}
>>>>>>> 10868c9e686d1fe1341bcd75bea0bcd1d85095d8
=======
body {
  overflow: hidden;
}
>>>>>>> 10868c9e686d1fe1341bcd75bea0bcd1d85095d8

/* Main container */

.CarrouselContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

/* Navigation bar (Log in and Menu buttons) */

.NavigationBar {
  position: absolute;
  right: 5vw;
  top: 4.5vh;
}

.NavigationBarButton {
  border: none;
  padding: 0 1rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: black;
  font-size: 1vw;
}

.NavigationBarButton:hover {
  color: blue;
  cursor: pointer;
}

.NavigationBarButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

/* Hero Image to the left and text to the right*/

.CarrouselImage {
  background-image: url("../../images/closeup-photography-of-adult-short-coated-tan-and-white-dog-731022.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 45vw;
}

<<<<<<< HEAD
<<<<<<< HEAD
.CarrouselImage2 {
  background-image: url("../../images/pexels-daniel-frank-343241.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 45vw;
}

.CarrouselImage3 {
  background-image: url("../../images/pexels-la-miko-3663082.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 45vw;
}

.CarrouselImage4 {
  background-image: url("../../images/photo-of-people-beside-dog-2925321.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 45vw;
}

=======
>>>>>>> 10868c9e686d1fe1341bcd75bea0bcd1d85095d8
=======
>>>>>>> 10868c9e686d1fe1341bcd75bea0bcd1d85095d8
.CarrouselText {
  width: 45vw;
  margin: 17.5vh 5vw 5vh 5vw;
  text-align: left;
}

/* Styles inside text-container */

#LogoMark {
  background-image: url("");
  background-color: #cccccc;
  height: 3vh;
  width: 1.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.CompanyName {
  font-size: 1.25vw;
  margin-left: 0.75vw;
}

h1 {
  width: 45vw;
  font-size: 3.25vw;
}

p {
  width: 45vw;
  font-size: 1vw;
}

/* Carrousel button */

.CarrouselButton {
  /* display: inline-block; */
  border: none;
  padding: 1.25rem 4.25rem;
  margin: 7.5vh 0;
  text-decoration: none;
  background: gray;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 1.25vh;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.CarrouselButton:hover,
.CarrouselButton:focus {
  background: black;
}

.CarrouselButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.CarrouselButton:active {
  transform: scale(0.99);
}

#SealLogo {
  background-image: url("");
  background-color: #cccccc;
  height: 20vh;
  width: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}
