.footer {
  background-color: rgb(78, 78, 78);
  text-align: left;
  color: white;
  width: 100vw;
}

#socialMediaIcon {
  background-image: url("");
  background-color: #242323;
  height: 5vh;
  width: 3vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.floatElement {
  width: 25vw;
  
}

.floatElement2 {
  width: 15vw;
  margin: 0 0vw 10vw 2vw;
}

.floatElement3 {
  width: 20vw;
  /* margin: 4vw 0vw 4vw 0vw; */
}

.title {
  margin-top: 0;
}

.footerLink {
  display: block;
  margin-bottom: 1rem;
}

.footerText {
  max-width: 25vw;
  font-size: 1vw;
}

.footerLogoMark {
  background-image: url(/static/media/IMG_7917.421c0f89.jpg);
  background-color: #cccccc;
  height: 3vh;
  width: 1.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2.5vh;
}

#socialMediaIcon {
  background-image: url("");
  background-color: #242323;
  height: 3rem;
  width: 2.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  margin-right: 1rem;
}

.address,
.phoneNumber {
  margin-bottom: 1rem;
}

.teamTitle {
  margin: 0 0 0.5rem 0;
}

.teamMember {
  margin: 2rem 0 0.25rem 0;
  font-weight: bold;
}
.teamMemberCredits {
  margin-bottom: 0.25rem;
  line-height: 1.5rem;
  font-style: italic;
}

.teamMemberLink1 {
  margin-right: 0.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.teamMemberLink1:hover {
  color: orange;
}

.teamMemberLink2 {
  margin: 0 0.5rem 0 0.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.teamMemberLink2:hover {
  color: orange;
}

.footerNavBarTitle1 {
  margin: 0 0 2rem 0;
}

.footerNavBarTitle2 {
  margin: 3rem 0 1.5rem 0;
}

.footerNavLink {
  display: block;
  margin: 1rem 0 0.5rem 0;
  text-decoration: none;
  color: white;
}

.footerNavLink:hover {
  color: orange;
}

.footerQuestion {
  margin: 4vw auto;
}

.text {
  margin: 0;
  padding: 0;
}

.footerAcknowledgement {
  margin: 30px 2vw;
  font-size: 0.75rem;
  line-height: 1.5rem;
  width: 18vw
}
