.imageForFosterDog {
  margin-top: 5.5vh;
  width: 100vw;
  background-image: url("../../images/kt-35FPKt3Yko4-unsplash.jpg");
  background-color: gainsboro;
  height: 60vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.electionTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.electionText {
  width: 60vw;
  text-align: left;
  margin: 7.5vh 0 5vh 5vw;
  font-size: 20px;
}

.fosterDogName {
  width: 100vw;
  margin: 12.5vh 0;
}

.fosterDogBodyPage {
  width: 100vw;
  background-image: url("../../images/FosterDogCollage.jpg");
  background-color: gainsboro;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fosterDogTextInsideBG {
  width: 45vw;
  position: absolute;
  margin: 0vh 0 5vh 5vw;
  text-align: left;
}

/* Foster Dog Description and Donate button */

.donateButtonContainer {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donateButton {
  border-color: grey;
  border-style: solid;
  padding: 0.75rem 5rem;
  margin: 10vh 0;
  text-decoration: none;
  color: grey;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  /* border-radius: 2rem; */
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.donateButton:hover,
.CarrouselButton:focus {
  background: black;
  color: white;
}

.donateButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.donateButton:active {
  transform: scale(0.99);
}

.Link {
  text-decoration: none;
  color: gray;
}
