.imageForFosterDog {
  margin-top: 5.5vh;
  width: 100vw;
  background-image: url("../../images/kt-35FPKt3Yko4-unsplash.jpg");
  background-color: gainsboro;
  height: 60vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.electionTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.electionText {
  width: 60vw;
  text-align: left;
  margin: 7.5vh 0 5vh 5vw;
}

.fosterDogName {
  width: 100vw;
  margin: 12.5vh 0;
}

.fosterDogBodyPage {
  width: 100vw;
  background-image: url("../../images/FosterDogCollage.jpg");
  background-color: gainsboro;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fosterDogTextInsideBG {
  width: 45vw;
  position: absolute;
  margin: 0vh 0 5vh 5vw;
  text-align: left;
}

/* Foster Dog Description and Donate button */

.donateButtonContainer {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donateButton {
  border-color: grey;
  border-style: solid;
  padding: 0.75rem 5rem;
  margin: 10vh 0;
  text-decoration: none;
  color: grey;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  /* border-radius: 2rem; */
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.donateButton:hover,
.CarrouselButton:focus {
  background: black;
  color: white;
}

.donateButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.donateButton:active {
  transform: scale(0.99);
}

.Link {
  text-decoration: none;
  color: gray;
}

/* 
/* * {
* {

* {

    font-family: Arial, "Free Sans";
}
#container {
    color: #fff;
background:#000;
}
#container #question {
    display: block;
    padding: 20px;
    font-weight: bold;
    letter-spacing: -3px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 40px;
}
#container div {
    font-weight: bold;
    letter-spacing: -3px;
    background: #0099cc;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 34px;
    color: #ffffff;
    border-left: 20px solid #333;
    width: 400px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0 0.5em 0.5em 0;
    border-radius: 0 1.5em 1.5em 0;
}
#container div a {
    border-radius: 0.3em;
    text-decoration: none;
    color: #0099cc;
    padding: 5px 15px;
    background: #333;
    margin: 0 20px;
}
#container div a:hover {
    color: #fff;
}
body {
    margin: 0;
    padding: 0;

}

} */
