.allOrg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7% 4%;
    float: left;
    width: 27%
}

.row::after {
    content: "";
    clear: left;
    display: inline-table;
}

.orgInfo {
    text-align: center;
    width: 10%;
    margin: auto 10%
}

.orgInfo a h1 {
    width: 25vw;
    font-size: xx-large;
}

.orgPic {
    width: 10%;

}

.orgDesc {
    width: 25vw
}