/* .meetTeam {
=======
.meetTeam {
=======
.meetTeam {
>>>>>>> 10868c9e686d1fe1341bcd75bea0bcd1d85095d8
>>>>>>> f6936bb4e169056797f712355e996adb2b3b5118
>>>>>>> 6baece73e5972f6ad5a40d14a122a669ef3d7cba
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;


}

.teamText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 5vh;
    margin: auto 50vh;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 350;
    padding: 3% 25%
}

.usinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* margin-bottom: 15%; */
/* margin: auto 30% 15%;
padding: auto 100%
} */

/* .carlos,
.valerie,
.dp {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ffffff;
    ;
    padding: 50px 0px;
    box-shadow: 20px 20px black;
    margin: 10vh 7vh;


}

.githubLinkedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
} */
