/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */

.Navbar {
  overflow: hidden;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0vh;
  box-shadow: 0.1rem 0.1rem 0.15rem rgb(206, 204, 204);
  z-index: 1;
}

.NavbarContainer {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBarElement {
  padding: 2vw;
  margin: 2vw;
  text-decoration: none;
  color: gray;
  font-size: 1.5vw;
}

.NavBarElementText {
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: gray;
}

.active {
  color: blue;
}

#LogoMark {
  background-image: url("");
  background-color: #cccccc;
  height: 3vh;
  width: 1.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

/* .background { */
/* width: 100vw; */
/* background-image: url("../../images/charles-deluvio-lJJlaUWYrPE-unsplash3.jpg"); */
/* background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.background1 {
  margin-top: 8vh;
  width: 100vw;
  background-image: url("../../images/charles-deluvio-lJJlaUWYrPE-unsplash3.jpg");
  background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-01.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background3 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-02.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background4 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/About illustrations-03.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background5 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/pexels-ionut-nan-3988821.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background6 {
  margin-top: 0vh;
  width: 100vw;
  background-image: url("../../images/Helpothers.png");
  background-color: #cccccc;
  height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundForGame {
  width: 100vw;
  background-image: url("../../images/Game2.png");
  background-color: #cccccc;
  height: 90vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.floatingImage {
  width: 60vw;
  background-image: url("../../images/pexels-ionut-nan-3988821.jpg");
  background-color: #cccccc;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
}

.containerGray {
  position: relative;
  background-color: gainsboro;
}

.textForBG2 {
  position: absolute;
  width: 30vh;
  left: 5vw;
  top: 10vh;
  text-align: left;
}

.textForBG {
  position: absolute;
  width: 10vh;
  left: 62.5vw;
  top: 10vh;
  text-align: left;
}

.textForHeroImage {
  position: absolute;
  width: 10vh;
  left: 5vw;
  top: 20vh;
  text-align: left;
}
.backgroundText {
  background-color: white;
}

.whiteBGright {
  right: 5vw;
  background-color: white;
  position: absolute;
  top: 5vh;
  text-align: left;
}

.whiteBGleft {
  left: 5vw;
  background-color: white;
  position: absolute;
  top: 5vh;
  text-align: left;
}

.info1,
.info2,
.info3 {
  width: 50vw;
  height: 80vh;
  padding: 5vw;
}

.header {
  width: 20vw;
  font-size: 3.25vw;
}

.header2 {
  width: 25vw;
  font-size: 3.25vw;
}

.text {
  width: 20vw;
  font-size: 1rem;
}

.text2 {
  width: 25vw;
  font-size: 1rem;
}
.navBarButton {
  border-color: grey;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  margin: 7.5vh 0;
  text-decoration: none;
  color: grey;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 2rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.navBarButton:hover,
.CarrouselButton:focus {
  background: black;
  color: white;
}

.navBarButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.navBarButton:active {
  transform: scale(0.99);
}

/* Footer */

.footer {
  background-color: rgb(78, 78, 78);
  text-align: left;
  color: white;
}

#socialMediaIcon {
  background-image: url("");
  background-color: #242323;
  height: 5vh;
  width: 3vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerContainer {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 5vw 2vw 2vw 4vw;
}

.floatElement {
  width: 20vw;
  margin: 0 0 4vw 0;
}

.floatElement2 {
  width: 15vw;
  margin: 0 0vw 10vw 2vw;
}

.floatElement3 {
  width: 20vw;
  /* margin: 4vw 0vw 4vw 0vw; */
}

.title {
  margin-top: 0;
}

.footerLink {
  display: block;
  margin-bottom: 1rem;
}

.footerText {
  max-width: 25vw;
  font-size: 1vw;
}

.footerLogoMark {
  background-image: url(/static/media/IMG_7917.421c0f89.jpg);
  background-color: #cccccc;
  height: 3vh;
  width: 1.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2.5vh;
}

#socialMediaIcon {
  background-image: url("");
  background-color: #242323;
  height: 3rem;
  width: 2.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  margin-right: 1rem;
}

.address,
.phoneNumber {
  margin-bottom: 1rem;
}

.footerButton {
  border-color: grey;
  border-style: solid;
  padding: 0.75rem 5rem;
  margin: 2vh 0;
  text-decoration: none;
  color: grey;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 2rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.footerButton:hover,
.CarrouselButton:focus {
  background: black;
  color: white;
}

.footerButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.footerButton:active {
  transform: scale(0.99);
}

.footerElementText {
  display: block;
  padding: 1rem;
  font-size: 1rem;
}

.navBarButton2 {
  border-color: grey;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  margin: 7.5vh 0;
  text-decoration: none;
  color: grey;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 2rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
