.eachDog {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10vh auto
}

.voteImg {
    width: 20vw
}


.voteInfo {
    text-align: left;
    margin-left: 20vw;
}